---
layout: default
---

{% include slider-accepted-papers.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>

            <!-- <a id="research"><h2>Research papers</h2></a> -->

<h4 style="color:red;">Some of the papers below are conditionally accepted and may not appear in the final program.</h4>


<h4 class="talk-title">FSP: Towards Flexible Synchronous Parallel Framework for Expectation-Maximization based Algorithms on Cloud</h4>
<p class="course-meta" style="line-height:18px;">Zhigang Wang (Northeastern University); Lixin Gao (University of Massachusetts Amherst); Yu Gu, Yubin Bao, Ge Yu (Northeastern University)</p>

<h4 class="talk-title">Trustable Virtual Machine Scheduling in a Cloud</h4>
<p class="course-meta" style="line-height:18px;">Fabien Hermenier (Nutanix inc.); Ludovic Henrio (Université Côte d’Azur, CNRS, I3S)</p>


<h4 class="talk-title">Search Lookaside Buffer: Efficient Caching for Index Data Structures</h4>
<p class="course-meta" style="line-height:18px;">Xingbo Wu, Fan Ni, Song Jiang (University of Texas, Arlington)</p>


<h4 class="talk-title">Architectural Implications on the Performance and Cost of Graph Analytics Systems</h4>
<p class="course-meta" style="line-height:18px;">Qizhen Zhang (University of Pennsylvania); Hongzhi Chen (Chinese University of Hong Kong); Da Yan (University of Alabama at Birmingham); James Cheng (Chinese University of Hong Kong); Boon Thau Loo (University of Pennsylvania); Purushotham Bangalore (University of Alabama at Birmingham)</p>


<h4 class="talk-title">Incentivizing Self-Resource-Capping with Graceful Degradation</h4>
<p class="course-meta" style="line-height:18px;">Mohammad Shahrad (Princeton University); Cristian Klein (Umeå University); Liang Zheng, Mung Chiang (Princeton University); Erik Elmroth (Umeå University); David Wentzlaff (Princeton University)</p>


<h4 class="talk-title">Mithril: mining sporadic associations for cache prefetching</h4>
<p class="course-meta" style="line-height:18px;">Juncheng Yang, Reza Karimi (Emory University); Trausti Sæmundsson (CachePhysics); Avani Wildani, Ymir Vigfusson (Emory University)</p>


<h4 class="talk-title">GLoop: An Event-driven Runtime for Consolidating GPGPU Applications</h4>
<p class="course-meta" style="line-height:18px;">Yusuke Suzuki (Keio University); Hiroshi Yamada (TUAT); Shinpei Kato (University of Tokyo); Kenji Kono (Keio University)</p>


<h4 class="talk-title">APUS: Fast and Scalable PAXOS on RDMA</h4>
<p class="course-meta" style="line-height:18px;">Cheng Wang, Xusheng Chen, Jianyu Jiang, Ning Yi, Heming Cui (The University of Hong Kong)</p>


<h4 class="talk-title">No Data Left Behind: Real-Time Insights from a Complex Data Ecosystem</h4>
<p class="course-meta" style="line-height:18px;">Manos Karpathiotakis (EPFL); Avrilia Floratou (Microsoft); Fatma Ozcan (IBM Research); Anastasia Ailamaki (EPFL)</p>

<h4 class="talk-title">Remote memory in the age of fast networks</h4>
<p class="course-meta" style="line-height:18px;">Marcos K. Aguilera, Nadav Amit, Irina Calciu, Xavier Deguillard, Jayneel Gandhi, Pratap Subrahmanyam, Lalith Suresh, Kiran Tati, Rajesh Venkatasubramanian, Michael Wei (VMware)</p>


<h4 class="talk-title">XNet: Security and Least Authority in a Capability-Enabled Cloud</h4>
<p class="course-meta" style="line-height:18px;"> Anton Burtsev (University of California, Irvine); David Johnson, Josh Kunz, Eric Eide, Jacobus Van der Merwe (University of Utah)</p>


<h4 class="talk-title">LSM-tree Managed Storage for Large-scale Key-value Store</h4>
<p class="course-meta" style="line-height:18px;">Fei Mei, Qiang Cao, Hong Jiang, Lei Tian</p>


<h4 class="talk-title">HyperNF: Building a High Performance, High Utilization and Fair NFV Platform</h4>
<p class="course-meta" style="line-height:18px;">Kenichi Yasukata, Felipe Huici (NEC Laboratories Europe); Vincenzo Maffione, Giuseppe Lettieri (University of Pisa); Michio Honda (NEC Laboratories Europe)</p>


<h4 class="talk-title">Workload Analysis and Caching Strategies for Search Advertising Systems</h4>
<p class="course-meta" style="line-height:18px;">Conglong Li, David G. Andersen (Carnegie Mellon University); Qiang Fu (Microsoft); Sameh Elnikety, Yuxiong He (Microsoft Research)</p>


<h4 class="talk-title">Prism: A Proxy Architecture for Datacenter Networks</h4>
<p class="course-meta" style="line-height:18px;">Yutaro Hayakawa (Keio University); Lars Eggert (NetApp); Michio Honda (NEC Laboratories Europe); Douglas Santry (NetApp)</p>


<h4 class="talk-title">Towards Automatic Parameter Tuning of Stream Processing Systems</h4>
<p class="course-meta" style="line-height:18px;">Muhammad Bilal (Universite catholiqué de Louvain and KAUST); Marco Canini (KAUST)</p>


<h4 class="talk-title">STYX: A Trusted and Accelerated Hierarchical SSL Key Management and Distribution System for Cloud Based CDN Application</h4>
<p class="course-meta" style="line-height:18px;">Changzhen Wei (Intel Asia-Pacific Research & Development Ltd.); Jian Li (Shanghai Jiao Tong University); Weigang Li, Ping Yu (Intel Asia-Pacific Research & Development Ltd.); Haibing Guan (Shanghai Jiao Tong University)</p>


<h4 class="talk-title">QGraph: Distributed Graph Search via Subgraph Isomorphism</h4>
<p class="course-meta" style="line-height:18px;">Marco Serafini, Gianmarco De Francisci Morales, Georgos Siganos (Qatar Computing Research Institute)</p>


<h4 class="talk-title">A Robust Partitioning Scheme for Ad-Hoc Query Workloads</h4>
<p class="course-meta" style="line-height:18px;">Anil Shanbhag (MIT); Alekh Jindal (Microsoft); Sam Madden (MIT); Jorge Quiane (QCRI); Aaron Elmore (University of Chicago)
</p>


<h4 class="talk-title">DLSH: A Distribution-aware LSH Scheme for Approximate Nearest Neighbor Query in Cloud Computing</h4>
<p class="course-meta" style="line-height:18px;">Yuanyuan Sun, Yu Hua (Huazhong University of Science and Technology); Xue Liu (McGill University); Shunde Cao, Pengfei Zuo (Huazhong University of Science and Technology)</p>


<h4 class="talk-title">SLA-aware Colocation of Data Center Tasks Based on Instantaneous Resource Requirements</h4>
<p class="course-meta" style="line-height:18px;">Pawel Janus, Krzysztof Rzadca (University of Warsaw, Poland)</p>


<h4 class="talk-title">Preserving I/O Prioritization in Virtualized OSes</h4>
<p class="course-meta" style="line-height:18px;">Kun Suo, Yong Zhao, Jia Rao (The University of Texas at Arlington); Luwei Cheng (Facebook); Xiaobo Zhou (The University of Colorado, Colorado Springs); Francis C. M. Lau (The University of Hong Kong)
</p>


<h4 class="talk-title">A Policy-Based System for Dynamic Scaling of Virtual Machine Memory Reservations</h4>
<p class="course-meta" style="line-height:18px;">Rebecca Smith, Scott Rixner (Rice University)</p>

<h4 class="talk-title">PBSE: A Robust Path-Based Speculative Execution for Degraded-Network Tail Tolerance in Data-Parallel Frameworks</h4>
<p class="course-meta" style="line-height:18px;">Riza O. Suminto, Cesar A. Stuardo, Alexandra Clark, Huan Ke, Tanakorn Leesatapornwongsa, Bo Fu (University of Chicago); Daniar H. Kurniawan (Bandung Institute of Technology); Vincentius Martin (Surya University); Uma Maheswara Rao G. (Intel Corporation); Haryadi S. Gunawi (University of Chicago)</p>


<h4 class="talk-title">Polygravity: Traffic Usage Accountability via Coarse-grained Measurements in Multi-tenant Data Centers</h4>
<p class="course-meta" style="line-height:18px;"> Hyunwook Baek (University of Utah); Cheng Jin (University of Minnesota); Guofei Jiang, Cristian Lumezanu (NEC Labs America); Jacobus Van der Merwe (University of Utah); Ning Xia, Qiang Xu (NEC Labs America)</p>



<h4 class="talk-title">Distributed Shared Persistent Memory</h4>
<p class="course-meta" style="line-height:18px;">Yizhou Shan, Shin-Yeh Tsai, Yiying Zhang (Purdue University)</p>


<h4 class="talk-title">BestConfig: Tapping the Performance Potential of Systems via Configuration Adjustment</h4>
<p class="course-meta" style="line-height:18px;">Yuqing Zhu, Jianxun Liu, Mengying Guo, Yungang Bao (Institute of Computing Technology, Chinese Academy of Sciences); Kunpeng Song, Zhuoyue Liu (Huawei)</p>


<h4 class="talk-title">A Machine Learning Approach to Live Migration Modeling</h4>
<p class="course-meta" style="line-height:18px;">Changyeon Jo, Youngsu Cho, Bernhard Egger (Seoul National University)
</p>


<h4 class="talk-title">Latency Reduction and Load Balancing in Coded Storage Systems</h4>
<p class="course-meta" style="line-height:18px;">Yaochen Hu, Yushi Wang, Bang Liu, Di Niu (University of Alberta); Cheng Huang (Microsoft Research Redmond)
</p>


<h4 class="talk-title">On-demand Virtualization for Live Migration in Bare Metal Cloud</h4>
<p class="course-meta" style="line-height:18px;">Jaeseong Im, Jongyul Kim, Jonguk Kim (School of Computing, KAIST); Seongwook Jin (KIWIPLUS); Seungryoul Maeng (School of Computing, KAIST)</p>


<h4 class="talk-title">SLAQ: Quality-Driven Scheduling for Distributed Machine Learning</h4>
<p class="course-meta" style="line-height:18px;">Haoyu Zhang, Logan Stafman, Andrew Or, Michael J. Freedman (Princeton University)</p>


<h4 class="talk-title">Practical Whole-System Provenance Capture</h4>
<p class="course-meta" style="line-height:18px;">Thomas Pasquier, Xueyuan Han, Mark Goldstein, Margo Seltzer (Harvard University); Thomas Moyer (MIT Lincoln Laboratory); David Eyers (University of Otago); Jean Bacon (University of Cambridge)</p>

<h4 class="talk-title">Processing Java UDFs in a C++ environment</h4>
<p class="course-meta" style="line-height:18px;">Viktor Rosenfeld (TU Berlin); Rene Mueller, Pinar Tozun, Fatma Ozcan (IBM Research Almaden)</p>


<h4 class="talk-title">An Experimental Comparison of Complex Object Implementations for Big Data Systems</h4>
<p class="course-meta" style="line-height:18px;">Sourav Sikdar, Kia Teymourian, Christopher Jermaine (Rice University)</p>

<h4 class="talk-title">Occupy the Cloud: Distributed Computing for the 99%</h4>
<p class="course-meta" style="line-height:18px;">Eric Jonas, Qifan Pu, Shivaram Venkataraman, Ion Stoica, Benjamin Recht (UC Berkeley)
</p>


<h4 class="talk-title">Selecting the Best VM across Multiple Public Clouds: A Data-Driven Performance Modeling Approach</h4>
<p class="course-meta" style="line-height:18px;">Neeraja J. Yadwadkar (University of California, Berkeley); Bharath Hariharan (Facebook AI Research); Joseph E. Gonzalez (University of California, Berkeley); Burton Smith (Microsoft Research); Randy Katz (University of California, Berkeley)</p>


<h4 class="talk-title">AidOps: A Data-Driven Provisioning of Virtual Network Functions</h4>
<p class="course-meta" style="line-height:18px;">Diego Lugones, Jordi Arjona Aroca, Yue Jin, Alessandra Sala, Volker Hilt (Nokia Bell Labs)</p>


<h4 class="talk-title">Secure Data Types: A Simple Abstraction for Confidentiality-Preserving Data Analytics</h4>
<p class="course-meta" style="line-height:18px;">Savvas Savvides (Purdue University); Julian Stephen (IBM Research); Masoud Saieda Ardekani (Purdue University); Vinaitheerthan Sundaram (SensorHound, Inc); Patrick Eugster (TU Darmstadt)</p>


<h4 class="talk-title">Automaton: Automated High-Frequency Trading in the Cloud</h4>
<p class="course-meta" style="line-height:18px;">Supreeth Shastri, David Irwin (University of Massachusetts Amherst)</p>


<h4 class="talk-title">UNO: Unifying Host and Smart NIC Offload for Flexible Packet Processing</h4>
<p class="course-meta" style="line-height:18px;">Yanfang Le (University of Wisconsin-Madison); Hyunseok Chang, Sarit Mukherjee, Limin Wang (Nokia Bell Labs); Aditya Akella, Michael Swift (University of Wisconsin-Madison); T.V. Lakshman (Nokia Bell Labs)</p>

<h4 class="talk-title"></h4>
<p class="course-meta" style="line-height:18px;"></p>


<h4 class="talk-title"></h4>
<p class="course-meta" style="line-height:18px;"></p>


<h4 class="talk-title"></h4>
<p class="course-meta" style="line-height:18px;"></p>


<h4 class="talk-title"></h4>
<p class="course-meta" style="line-height:18px;"></p>


<h4 class="talk-title">Automated Debugging in Data-Intensive Scalable Computing</h4>
<p class="course-meta" style="line-height:18px;">Muhammad Ali Gulzar, Matteo Interlandi (UCLA); Xueyuan Han (Harvard University); Mingda Li, Tyson Condie, Miryung Kim (UCLA)</p>


<h4 class="talk-title">Sketches of Space: Ownership Accounting for Shared Storage</h4>
<p class="course-meta" style="line-height:18px;">Jake Wires, Pradeep Ganesan, Andrew Warfield (Coho Data)
</p>

<h4 class="talk-title">A Scalable Distributed Spatial Index for the Internet-of-Things</h4>
<p class="course-meta" style="line-height:18px;"> Anand Padmanabha Iyer, Ion Stoica (UC Berkeley)</p>


<h4 class="talk-title">ALOHA-KV: High Performance Read-only and Write-only Distributed Transactions</h4>
<p class="course-meta" style="line-height:18px;">Hua Fan, Wojciech Golab (University of Waterloo); Charles B. Morrey III (unaffiliated)</p>


<h4 class="talk-title">Analysis of the First Standard Benchmark for SQL-Based Big Data Systems</h4>
<p class="course-meta" style="line-height:18px;">Meikel Poess (Oracle); Tilmann Rabl (TU Berlin); Hans-Arno Jacobsen (TU Munich)</p>


<h4 class="talk-title">Optimized On-Demand Data Streaming from Sensor Nodes</h4>
<p class="course-meta" style="line-height:18px;">Jonas Traub (Technische Universität Berlin); Sebastian Breß (DFKI); Tilmann Rabl (Technische Universität Berlin); Asterios Katsifodimos (SAP Germany); Volker Markl (Technische Universität Berlin)</p>


<h4 class="talk-title">WorkloadCompactor: Reducing datacenter cost while providing tail latency SLO guarantees</h4>
<p class="course-meta" style="line-height:18px;">Timothy Zhu (Carnegie Mellon University); Michael A. Kozuch (Intel Labs); Mor Harchol-Balter (Carnegie Mellon University)</p>


<h4 class="talk-title">Distributed Resource Management across Process Boundaries</h4>
<p class="course-meta" style="line-height:18px;">Lalith Suresh (VMWare Research); Peter Bodik, Ishai Menache (Microsoft Research); Marco Canini (KAUST); Florin Ciucu (University of Warwick)
</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
