---
layout: default
---

{% include slider-accepted-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted posters</h2></header>

            <!-- <a id="research"><h2>Research papers</h2></a> -->

<h4 class="talk-title">Reducing Tail Latencies in Streaming Workloads</h4>
<p class="course-meta" style="line-height:18px;">Faria Kalim (University of Illinois, at Urbana Champaign); Asser Tantawi; Stefania Costache (IBM Research)</p>

<h4 class="talk-title">Daiet: A System for Data Aggregation Inside the Network</h4>
<p class="course-meta" style="line-height:18px;">Amedeo Sapio; Ibrahim Abdelaziz; Marco Canini; Panos Kalnis (KAUST)</p>


<h4 class="talk-title">Resilient Cloud in Dynamic Resource Environments</h4>
<p class="course-meta" style="line-height:18px;">Fan Yang; Andrew A. Chien; Haryadi S. Gunawi (University of Chicago)</p>


<h4 class="talk-title">Disaggregated Operating System</h4>
<p class="course-meta" style="line-height:18px;">Yizhou Shan; Sumukh Hallymysore; Yutong Huang; Yilun Chen; Yiying Zhang (Purdue University)</p>


<h4 class="talk-title">To Edge or Not to Edge?</h4>
<p class="course-meta" style="line-height:18px;">Faria Kalim; Shadi A. Noghabi; Shiv Verma (University of Illinois, at Urbana Champaign)</p>


<h4 class="talk-title">Cache Management and Load Balancing for 5G Cloud Radio Access Networks</h4>
<p class="course-meta" style="line-height:18px;">Chin Tsai; Melody Moh (San Jose State University)</p>


<h4 class="talk-title">Batch Spot Market for Data Analytics Cloud Providers</h4>
<p class="course-meta" style="line-height:18px;">Stefania Costache (IBM Research); Tommaso Madonia (University of Bologna); Asser Tantawi; Malgorzata Steinder (IBM Research)</p>


<h4 class="talk-title">Building Smart Memories and High-Speed Cloud Services for the Internet of Things with Derecho</h4>
<p class="course-meta" style="line-height:18px;">Sagar Jha; Ken Birman (Cornell University)</p>


<h4 class="talk-title">Toward an Emergency Edge Supercloud</h4>
<p class="course-meta" style="line-height:18px;">Kolbeinn Karlsson; Zhiming Shen; Weijia Song; Hakim Weatherspoon; Robbert van Renesse; Stephen Wicker (Cornell University)</p>


<h4 class="talk-title">AKC : Advanced KSM for Cloud Computing</h4>
<p class="course-meta" style="line-height:18px;">Sioh Lee (Korea University); Bongkyu Kim (LG Electronics); Youngpil Kim; Chuck Yoo (Korea University)</p>


<h4 class="talk-title">KVS: High-Efficiency Kernel-level Virtual Switch</h4>
<p class="course-meta" style="line-height:18px;">Heungsik Choi; Gyeongsik Yang; Kyungwoon Lee; Chuck Yoo (Korea University)</p>


<h4 class="talk-title">An Implementation of Fast memset() Using Hardware Accelerators</h4>
<p class="course-meta" style="line-height:18px;">Kishore Pusukuri; Rob Gardner; Jared Smolens (Oracle Inc)</p>


<h4 class="talk-title">Bridging the Architectural Gap between NOS Design Principles in Software-Defined Networks</h4>
<p class="course-meta" style="line-height:18px;">Jaehyun Nam; Hyeonseong Jo; Yeonkeun Kim (KAIST); Phillip Porras; Vinod Yegneswaran (SRI International); Seungwon Shin (KAIST)</p>


<h4 class="talk-title">Mitigating Traffic-based Side Channel Attacks in Bandwidth-efficient Cloud Storage</h4>
<p class="course-meta" style="line-height:18px;">Pengfei Zuo; Yu Hua Huazhong University of Science and Technology); Cong Wang (City University of Hong Kong); Wen Xia; Shunde Cao; Yukun Zhou; Yuanyuan Sun (Huazhong University of Science and Technology)</p>


<h4 class="talk-title">Revisiting Performance in Big Data Systems: An Resource Decoupling Approach</h4>
<p class="course-meta" style="line-height:18px;">Chen Yang (Renmin University)</p>


<h4 class="talk-title">Exploiting Speculation in Partially Replicated Transactional Data Stores</h4>
<p class="course-meta" style="line-height:18px;">Zhongmiao Li (Université catholique de Louvain and Instituto Superior Tecnico); Peter Van Roy (Université catholique de Louvain); Paolo Romano (INESC-ID, Instituto Superior Tecnico, Universidade de Lisboa)</p>

<h4 class="talk-title">Hytrace: A Hybrid Approach to Performance Bug Diagnosis in Production Cloud Infrastructures</h4>
<p class="course-meta" style="line-height:18px;">Ting Dai (North Carolina State University); Daniel Dean (InsightFinder Inc.); Peipei Wang; Xiaohui Gu (North Carolina State University); Shan Lu (University of Chicago)</p>


<h4 class="talk-title">Fragola: Low-Latency Transactions in Distributed Data Stores</h4>
<p class="course-meta" style="line-height:18px;">Yonatan Gottesman (Yahoo Research); Aran Bergman (Technion); Edward Bortnikov; Eshcar Hillel (Yahoo Research);Idit Keidar (Yahoo Research, Technion); Ohad Shacham (Yahoo Research)</p>


<h4 class="talk-title">Lever: Towards Low-Latency Batched Stream Processing by Pre-Scheduling</h4>
<p class="course-meta" style="line-height:18px;">Fei Chen; Song Wu; Hai Jin; Yin Yao; Zhiyi Liu; Lin Gu (Huazhong University of Science and Technology);Yongluan Zhou (University of Copenhagen)</p>

<h4 class="talk-title">Mitigating Multi-Tenant Interference on Mobile Offloading Servers</h4>
<p class="course-meta" style="line-height:18px;">Zhou Fang; Mulong Luo (University of California, San Diego); Tong Yu; Ole J. Mengshoel (Carnegie Mellon University); Mani B. Srivastava (University of California, Los Angeles); Rajesh K. Gupta (University of California, San Diego)</p>


<h4 class="talk-title">SEaMLESS: a SErvice Migration cLoud architecture for Energy Saving and memory releaSing capabilities</h4>
<p class="course-meta" style="line-height:18px;">Dino Lopez Pacheco; Quentin Jacquemart (Université Côte d’Azur, CNRS, I3S, France); Andrea Segalini (Università di Bologna, Italy + Université Côte d’Azur, CNRS, I3S, France); Myriana Rifai ((Université Côte d’Azur, CNRS, I3S, France); Marcos Dione (Unaffiliated); Guillaume Urvoy-Keller (Université Côte d’Azur, CNRS, I3S, France)</p>


<h4 class="talk-title">Siphon: A High-Performance Substrate for Inter-Datacenter Transfers in Wide-Area Data Analytics</h4>
<p class="course-meta" style="line-height:18px;">Shuhao Liu; Li Chen; Baochun Li (University of Toronto)</p>

<h4 class="talk-title">Efficient and Consistent Replication for Distributed Logs</h4>
<p class="course-meta" style="line-height:18px;">Hua Fan (University of Waterloo); Jeffrey Pound; Peter Bumbulis; Nathan Auch; Scott MacLean; Eric Garber; Anil K Goel (SAP Labs)</p>


<h4 class="talk-title">Rethinking Reinforcement Learning for Cloud Elasticity</h4>
<p class="course-meta" style="line-height:18px;">Konstantinos Lolos; Ioannis Konstantinou; Verena Kantere; Nectarios Koziris (School of Electrical and Computer Engineering, National Technical University of Athens)</p>


<h4 class="talk-title">How Good Are Machine Learning Clouds for Binary Classification with Good Features?</h4>
<p class="course-meta" style="line-height:18px;">Hantian Zhang; Luyuan Zeng (ETH Zurich); Wentao Wu (Microsoft Research, Redmond); Ce Zhang (ETH Zurich)</p>

<h4 class="talk-title">Indy: A Software System for the Dense Cloud</h4>
<p class="course-meta" style="line-height:18px;">Chenggang Wu (UC Berkeley); Jose M. Faleiro (Yale University); Yihan Lin; Joseph M. Hellerstein (UC Berkeley)</p>


<h4 class="talk-title">Towards Verifiable Metering for Database as a Service Providers</h4>
<p class="course-meta" style="line-height:18px;">Min Du (University of Utah); Ravi Ramamurthy (Microsoft Research)</p>


<h4 class="talk-title">Janus: Supporting Heterogeneous Power Management in Virtualized Environments</h4>
<p class="course-meta" style="line-height:18px;">Daehoon Kim (DGIST); Mohammad Alian (UIUC); Jaehyuk Huh (KAIST); Nam Sung Kim (UIUC)</p>

<h4 class="talk-title">Stocator: An Object Store Aware Connector for Spark</h4>
<p class="course-meta" style="line-height:18px;">Gil Vernik; Michael Factor; Elliot Kolodner (IBM Research); Pietro Michiardi (Eurecom); Effi Ofer (IBM Research); Francesco Pace (Eurecom)</p>


<h4 class="talk-title">mBalloon: Enabling Elastic Memory Management for Big Data Processing</h4>
<p class="course-meta" style="line-height:18px;">Wei Chen; Aidi Pi (University of Colorado at Colorado Springs); Jia Rao (University of Texas Arlington); Xiaobo Zhou (University of Colorado at Colorado Springs)</p>


<h4 class="talk-title">Sparkle: Optimizing Spark for Large Memory Machines and Analytics</h4>
<p class="course-meta" style="line-height:18px;">Mijung Kim (Hewlett Packard Labs); Jun Li (Ebay); Haris Volos; Manish Marwah (Hewlett Packard Labs); Alexander Ulanov (Facebook); Kimberly Keeton (Hewlett Packard Labs); Lucy Cherkasova (HyTrust); Le Xu (University of Illinois); Pradeep Fernando (Georgia Institute of Technology)</p>



<h4 class="talk-title">Exploring Memory Locality for Big Data Analytics in Virtualized Clusters</h4>
<p class="course-meta" style="line-height:18px;">Eunji Hwang; Hyungoo Kim; Beomseok Nam; Young-ri Choi (Ulsan National Institute of Science and Technology)</p>


<h4 class="talk-title">RStore: Efficient Multiversion Document Management in the Cloud</h4>
<p class="course-meta" style="line-height:18px;">Souvik Bhattacherjee; Amol Deshpande (University of Maryland, College Park)</p>

<h4 class="talk-title">SQML: Large-scale in-database machine learning with pure SQL</h4>
<p class="course-meta" style="line-height:18px;">Umar Syed; Sergei Vassilvitskii (Google)</p>


<h4 class="talk-title">DFS-Container: Achieving Containerized Block I/O for Distributed File Systems</h4>
<p class="course-meta" style="line-height:18px;">Dan Huang; Jun Wang (University of Central Florida); Qing Liu (New Jersey Institute of Technology); Xuhong Zhang; Xunchao Chen; Jian Zhou (University of Central Florida)</p>


<h4 class="talk-title">Early Work on Modeling Computational Sprinting</h4>
<p class="course-meta" style="line-height:18px;">Nathaniel Morris; Christopher Stewart (The Ohio State University); Robert Birke; Lydia Chen (IBM Research Zurich); Jaimie Kelley (Denison University)</p>


<h4 class="talk-title">Job Scheduling for Data-Parallel Frameworks with Hybrid Electrical/Optical Datacenter Networks</h4>
<p class="course-meta" style="line-height:18px;">Zhuozhao Li; Haiying Shen (University of Virginia)</p>


<h4 class="talk-title">Prometheus: Online Estimation of Optimal Memory Demands for Workers in In-memory Distributed Computation</h4>
<p class="course-meta" style="line-height:18px;">Guoyao Xu (Wayne State University); Cheng-Zhong Xu (Shenzhen Institutes of Advanced Technology)</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
