---
layout: default
---

{% include slider-accommodation.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
	
	<div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">Sept</div>
                <div class="day">4</div>
              </figure>
              <aside>
                <header>
                  Discounted rate available
                </header>
              </aside>
            </article>
			<br>
          </div>
        </section><!-- /.events-small -->

       <br/>
      </div><!-- /.col-md-3 -->
	  
      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>
          <div class="section-content">
		  <p>
			ACM SoCC 2017 will take place at the <a href="http://www.marriott.com/hotels/travel/sjcga-santa-clara-marriott/" style="text-decoration:underline;">Santa Clara Marriott</a>. 
			We have negotiated a special rate of $279/night (plus taxes) for the conference attendees, during the conference as well as up to two days before and after the
            conference on a limited basis.</p>
			  
			<h3>Conference hotel details</h3>
			  <p><a href="http://www.marriott.com/hotels/travel/sjcga-santa-clara-marriott/" style="text-decoration:underline;">Santa Clara Marriott</a><br>
			  2700 Mission College Blvd<br>
			  Santa Clara, CA 95054-1218.
			  </p>
			  
			  <h3>Reservation information</h3>
			
				 <p> You can reserve rooms at the discounted rate 
             <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Association%20for%20Computing%20Machinery%5Esjcga%60ACMACMA%60279.00%60USD%60false%604%609/23/17%609/28/17%609/4/17&app=resvlink&stop_mobi=yes" target="_blank" rel="nofollow" style="text-decoration:underline;"><u>here</u></a>. </p>
	    
	    
			<p style="color:blue;">The above group rate is available only until September 4, 2017 or until the group block is sold-out, whichever comes first.</p>
			<p>
              <div class="google-maps">
			  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12679.856157279595!2d-121.9742736!3d37.3906827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19676fb4c9784b45!2sSanta+Clara+Marriott!5e0!3m2!1sen!2sus!4v1500865181044" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			  </div>
            </p>
			
			
			
           
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
