---
layout: default
---

{% include slider-becoming-sponsor.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="main-content">
          <header>
            <h1>Becoming a sponsor</h1>
          </header>
          <div class="section-content">
		  <p>
		  
			The ACM  Symposium on Cloud Computing is the premier research conference on cloud computing. 
			Attendees include top graduate students and premier experts from academia and industry. 
			The 2017 conference will be held in Santa Clara, California in the heart of Silicon Valley, and attracts a variety of attendees from industry and universities.
			
			<br><br>
			We welcome sponsorship! Sponsoring the conference is an excellent way to attract potential recruits, get visibility for your company 
			and products, and be a part of the cloud computing research community. 
			Please contact <font style="color:red;">Hakim Weatherspoon (hweather at cs dot cornell dot edu)</font> 
			and <font style="color:red;">Hani Jamjoom (jamjoom at us dot ibm dot com)</font> to sponsor the conference. 
			Various levels of sponsorship are available <a href="assets/img/sponsorship-socc17.pdf">[PDF here]</a>: 
			
            </p>
          </div><!-- /.section-content -->
          {% include pricing.html %}
        </section><!-- /.main-content -->
      </div><!-- /.col-md-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
