---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
               <p style="font-size:20px">Coming soon!</p>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br/>

        <section class="events small" id="events-small">
          <header>
            <h2>Past events</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
            <li><h4><a href="http://acmsocc.github.io/2016" target="_blank">2016</a></h4></li>
	      <li><h4><a href="http://acmsocc.github.io/2015" target="_blank">2015</a></h4></li>
              <li><h4><a href="https://sites.google.com/site/2014socc/" target="_blank">2014</a></h4></li>
              <li><h4><a href="https://sites.google.com/site/2013socc/" target="_blank">2013</a></h4></li>
              <li><h4><a href="http://www.socc2012.org/" target="_blank">2012</a></h4></li>
              <li><h4><a href="http://socc2011.gsd.inesc-id.pt/" target="_blank">2011</a></h4></li>
              <li><h4><a href="http://research.microsoft.com/en-us/um/redmond/events/socc2010/" target="_blank">2010</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->


      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header><h2>ACM Symposium on Cloud Computing 2017 (SoCC '17)</h2></header>
            <p>
              The ACM Symposium on Cloud Computing 2017 (SoCC '17) is the eight in an established series of symposia that bring
              together researchers, developers, users, and practitioners interested in cloud computing. SoCC is co-sponsored
              by the ACM Special Interest Groups on Management of Data (SIGMOD) and on Operating Systems (SIGOPS).
            </p>            
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
