---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
		<section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            
			<article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">15</div>
              </figure>
              <aside>
                <header>
                  <strike>Camera-ready deadline</strike>
                </header>
              </aside>
            </article><!-- /article -->
			<br>
			<article class="event nearest">
              <figure class="date">
                <div class="month">Aug</div>
                <div class="day">23</div>
              </figure>
              <aside>
                <header>
                  <strike>Early registration deadline</strike>
                </header>
              </aside>
            </article>
			<br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">Sept</div>
                <div class="day">20</div>
              </figure>
              <aside>
                <header>
                  Late registration deadline
                </header>
              </aside>
            </article>
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
        <br/>

		<section class="events small" id="events-small">
          <header>
            <h2>Useful Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
				<li><h4><a href="registration.html">Conference registration</a></h4></li>
			  <li><h4><a href="schedule.html">Schedule</a></h4></li>
			  <li><h4><a href="keynotes.html">Keynotes</a></h4></li>
			  <li><h4><a href="accommodation.html">Accommodation</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
		
        <section class="events small" id="events-small">
          <header>
            <h2>Past events</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
            <li><h4><a href="http://acmsocc.github.io/2016" target="_blank">2016</a></h4></li>
	      <li><h4><a href="http://acmsocc.github.io/2015" target="_blank">2015</a></h4></li>
              <li><h4><a href="https://sites.google.com/site/2014socc/" target="_blank">2014</a></h4></li>
              <li><h4><a href="https://sites.google.com/site/2013socc/" target="_blank">2013</a></h4></li>
              <li><h4><a href="http://www.socc2012.org/" target="_blank">2012</a></h4></li>
              <li><h4><a href="http://socc2011.gsd.inesc-id.pt/" target="_blank">2011</a></h4></li>
              <li><h4><a href="http://research.microsoft.com/en-us/um/redmond/events/socc2010/" target="_blank">2010</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->


      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header><h2>ACM Symposium on Cloud Computing 2017 (SoCC '17)</h2></header>
            <p>
              The ACM Symposium on Cloud Computing 2017 (SoCC '17) is the eight in an established series of symposia that bring
              together researchers, developers, users, and practitioners interested in cloud computing. SoCC is co-sponsored
              by the ACM Special Interest Groups on Management of Data (SIGMOD) and on Operating Systems (SIGOPS).
            </p>            
			
			<h2> Announcements </h2>
			<br>
			<ul>
			<li><h4>[09/18/2017] <b>Schedule for poster sessions is <a href="poster-schedule.html" rel="nofollow" style="color:red;text-decoration:underline;">online!</a>.</b></h4></li>
			<li><h4>[08/17/2017] <b>The list of accepted posters is now <a href="accepted-posters.html" rel="nofollow" style="color:red;text-decoration:underline;">online!</a>.</b></h4></li>
			<li><h4>[08/11/2017] <b>Preliminary program details are <a href="schedule.html" rel="nofollow" style="color:red;text-decoration:underline;">available.</a></b></h4></li>
			<li><h4>[08/01/2017] <b>Conference registration details are available <a href="registration.html" rel="nofollow" style="color:red;text-decoration:underline;">here.</a></b></h4></li>
			<li>
				<h4>[07/24/2017] <b>Accommodation details are 
				<a href="accommodation.html" rel="nofollow" style="color:red;text-decoration:underline;">available</a>.</b>
				</h4>
			</li>
			<li><h4>[07/23/2017] <b>The list of accepted papers is <a href="accepted-papers.html" rel="nofollow" style="color:red;text-decoration:underline;">available</a>.</b></h4></li>
			<li><h4>[07/18/2017]<b> Camera-ready instructions are now <a href="camera-ready-instructions.html" rel="nofollow" style="color:red;text-decoration:underline;">online</a>!</b></h4></li>
			<li><h4>[07/07/2017]<b> Want to apply for a student scholarship? Details <a href="scholarships.html" rel="nofollow" style="color:red;text-decoration:underline;">online</a>!</b></h4></li>
			<li><h4>[06/01/2017]<b> Call for posters is now <a href="posters.html" rel="nofollow" style="color:red;text-decoration:underline;">online</a>!</b></h4></li>
            <li><h4><b>The paper submission site is now online at <a href="https://socc17.hotcrp.com/" style="color:red">https://socc17.hotcrp.com/</a></b></h4></li>
	          <li><h4><b>Sponsorship opportunities <a href="becoming-sponsor.html" rel="nofollow" style="text-decoration: underline;">available</a></b></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
