---
layout: default
---

{% include slider-location.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="main-content">
          <header>
            <h1>Location</h1>
          </header>
          <div class="section-content">
            <p>SoCC '17 will be held at the <a href="http://www.marriott.com/hotels/travel/sjcga-santa-clara-marriott/">Santa Clara Marriott</a>.
            More details to come as we get closer to the conference.
            </p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-9 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
