---
layout: default
---

{% include slider-location.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section id="main-content">
          <header>
            <h1>Location</h1>
          </header>
          <div class="section-content">
            <p>SoCC '17 will be held at the <a href="http://www.marriott.com/hotels/travel/sjcga-santa-clara-marriott/">Santa Clara Marriott</a>.
			Details about the accomodation at the hotel can be found <a href="accommodation.html">here.</a>
			</p>
			<div class="col-md-6">
              <div class="google-maps">
			  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12679.856157279595!2d-121.9742736!3d37.3906827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19676fb4c9784b45!2sSanta+Clara+Marriott!5e0!3m2!1sen!2sus!4v1500865181044" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			  </div>
            </div>
			<br>
			<div class="col-md-6">
				<div class="google-maps">
				</div>
			</div>
			
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-9 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
