---
layout: default
---

{% include slider-co.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Conference Officers</h1></header>
                        <section id="general-chair">
                            <div class="row">
                              <div class="col-md-6">
                                <header><h2 class="no-divider">General chair</h2></header>
                                {% include author-block-no-padding.html link="http://www.cs.cornell.edu/~hweather/" name="Hakim Weatherspoon" org="Cornell University" %}
                              </div>
                            </div>
                        </section><!-- /#general-chair -->
                        
                        <section id="program-chairs">
                            <header><h2 class="no-divider">Program chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://www.cs.yale.edu/homes/mahesh/" name="Mahesh Balakrishnan" org="Yale University" %}
                              </div>

                              <div class="col-md-6">
                                {% include author-block.html link="https://www.microsoft.com/en-us/research/people/ccurino/" name="Carlo Curino" org="Microsoft" %}
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#program-chairs -->
                        
                        <section id="poster-chair">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Treasurer</h2></header>
                              {% include author-block-no-padding.html link="http://jamjoom.net/" name="Hani Jamjoom" org="IBM" %}
                            </div>
                          </div>
                        </section><!-- /#poster-chair -->

                        <section id="publicity">
                            <header><h2 class="no-divider">Publicity chair</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="https://people.cs.uchicago.edu/~haryadi/" name="Haryadi Gunawi" org="University of Chicago" %}
                              </div>
                            </div>
                        </section><!-- /#publicity -->

                         <section id="publicity">
                            <header><h2 class="no-divider">Publication chair</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block-no-padding.html link="http://clash.cs.ucla.edu/" name="Tyson Condie" org="University of California, Los Angeles" %}
                              </div>
                            </div>
                        </section><!-- /#publicity -->
                        
                        <section id="local">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Logistics and local arrangements chair</h2></header>
                                {% include author-block-no-padding.html link="" name="Jessie White" org="Cornell University" %}
                            </div>
                          </div>
                        </section><!-- /local -->

                        <section id="webmaster">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Webmaster</h2></header>
                                {% include author-block-no-padding.html link="https://www.microsoft.com/en-us/research/people/vijala/" name="Virajith Jalaparti" org="Microsoft" %}
                            </div>
                          </div>
                        </section><!-- /#webmaster -->
                        
                        <section id="scholarship-chairs">
                            <header><h2 class="no-divider">Scholarship chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                {% include author-block.html link="http://www.nec-labs.com/~asim/" name="Asim Kadav" org="NEC Labs" %}
                              </div>

                              <div class="col-md-6">
                                {% include author-block.html link="https://www.linkedin.com/in/chris-douglas-73333a1" name="Chris Douglas" org="Microsoft" %}
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#scholarship-chairs-->
                        
                        <section id="poster-chair">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Poster chair</h2></header>
                                {% include author-block-no-padding.html link="http://cs.brown.edu/~irina/" name="Irina Calciu" org="VMWare" %}
                            </div>
                          </div>
                        </section><!-- /#webmaster -->
                        
                         
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              {% include latest-news.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
