---
layout: default
---

{% include slider-cf-papers.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for papers</h1>
          </header>
          <div class="section-content">
            <p> Coming soon! </p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">

      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
