---
layout: default
---

{% include slider-cf-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important Dates</h2>
          </header>
	    <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">13</div>
              </figure>
              <aside>
                <header>
                  Poster Submission Deadline at 17:00 PST
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">july</div>
                <div class="day">27</div>
              </figure>
              <aside>
                <header>
                  Poster Acceptance Notification
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submission">Poster submission guidelines</a></h4></li>
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for posters</h1>
          </header>
          <div class="section-content">
            <p>
			The SoCC poster sessions showcase works-in-progress in an informal setting. Topics of interest are the same as the research topics in the SoCC conference <a href="papers.html" style="color:red">Call for papers</a>. A single page description should be submitted to the HotCRP site <b>no later than July 13, 2017 at 17:00 Pacific Standard Time</b>. The SoCC 2017 poster committee will review all proposals and <b>notifications will be sent out by July 27, 2017</b>.
			<br><br>
			Accepted proposals will be published in the conference proceedings. While anyone can submit a proposal, preference will be given to posters where the primary contribution is from one or more students or from an industry/start-up organization. Students must present student posters at the conference. An award will be given to the best overall student and industry/start-up poster, judged by attendees during the conference. Submissions to the conference paper track are also automatically considered for a poster, so there is no need to submit a separate poster proposal.

			<p style="font-size:120%;text-decoration:underline;color:red"><a href="assets/img/SoCC_Poster_CFP2017.pdf" target="_blank" style="color:red">Download the Call for Posters as a PDF</a></p>
            
			<a id="why"><h2>Why should you submit a poster?</h2></a>
			<p>Presenting a poster is a great opportunity, especially for students, to obtain interesting and valuable feedback on ongoing research from a knowledgeable crowd at the conference. Moreover, accepted proposals will be published in the conference proceedings in citable form
			</p>

			<a id="what"><h2>What is a poster?</h2></a>
			<p>We define a poster to be A0 paper size in portrait mode (841x1189mm), to which you can affix visually appealing material that describes your research. Alternatively, you can use the space as a continuum. You should prepare the best material (visually appealing and succinct) that effectively communicates your research problem, techniques, results, and what is novel and important about your work. Note that you do not submit such a large-format image; only an abstract describing in text what the poster would present. The abstract should clearly state: (a) the problem being addressed, (b) that makes this problem interesting, important, and difficult, (c) your approach to the problem, and (d) the key contribution. In the final version of the abstract, we encourage (not require) you to include a URL providing additional information about your work to the attendees
			</p>
						
			<a id="submission"><h2>What to submit</h2></a>
			<p>You must submit a one-page abstract in PDF format that describes your work. Prepare your abstract using ACM conference style, 10pt font with two columns, 0.75 inch margins and 1/3 inch space between columns. Word documents will not be accepted. Accepted proposals will be published in the conference proceedings.
			<br><br>
			Submissions are single blind, so please include authors' names and affiliation. When submitting, indicate if the submission should be considered for the student/industry best-poster award.
			</p>

			<a id="submit_site"><h2>Where to submit</h2></a>
            <p>
			  The paper submission site is now online at <a href="https://socc17posters.hotcrp.com/" style="color:red">https://socc17posters.hotcrp.com/</a>
			  <br><br>
            </p>


			<a id="dates"><h2>Important dates</h2></a>
			<ul class="topics-list"><ul type="topics-list">
            <li> <b style="color:red">Submission deadline: July 13, 2017 at 17:00 PST</b></li>
            <li> <b style="color:red">Acceptance Notification: July 27, 2017</b></li>
            </ul>
			
			<a id="submit"><h2>Questions?</h2></a>
            <p>
              Email any questions you have to the poster chair <a href="mailto:poster-chairs@socc2017.org" target="_top" style="text-decoration:underline;color:red"> Irina Calciu</a>.
            </p>

			
			

			
			
			
		




          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
