---
layout: default
---

{% include slider-poster-schedule.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">

		  
<header>
	<h2 style="color:SteelBlue;">Poster session I (Monday, September 25th) <br> 
	<font style="color:black;font-size:60%;">Location: Seattle/Portland/Santa Barbara room (<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)</font> 
	</h2>
</header>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46807">(1) An Implementation of Fast memset() Using Hardware Accelerators</a></h4>
<p class="course-meta" style="line-height:18px;">Kishore Pusukuri; Rob Gardner; Jared Smolens (Oracle Inc)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46808">(2) Bridging the Architectural Gap between NOS Design Principles in Software-Defined Networks</a></h4>
<p class="course-meta" style="line-height:18px;">Jaehyun Nam; Hyeonseong Jo; Yeonkeun Kim (KAIST); Phillip Porras; Vinod Yegneswaran (SRI International); Seungwon Shin (KAIST)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46809">(3) Mitigating Traffic-based Side Channel Attacks in Bandwidth-efficient Cloud Storage</a></h4>
<p class="course-meta" style="line-height:18px;">Pengfei Zuo; Yu Hua Huazhong University of Science and Technology); Cong Wang (City University of Hong Kong); Wen Xia; Shunde Cao; Yukun Zhou; Yuanyuan Sun (Huazhong University of Science and Technology)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46800">(4) Revisiting Performance in Big Data Systems: An Resource Decoupling Approach</a></h4>
<p class="course-meta" style="line-height:18px;">Chen Yang (Renmin University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46801">(5) Exploiting Speculation in Partially Replicated Transactional Data Stores</a></h4>
<p class="course-meta" style="line-height:18px;">Zhongmiao Li (Université catholique de Louvain and Instituto Superior Tecnico); Peter Van Roy (Université catholique de Louvain); Paolo Romano (INESC-ID, Instituto Superior Tecnico, Universidade de Lisboa)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46802">(6) Hytrace: A Hybrid Approach to Performance Bug Diagnosis in Production Cloud Infrastructures</a></h4>
<p class="course-meta" style="line-height:18px;">Ting Dai (North Carolina State University); Daniel Dean (InsightFinder Inc.); Peipei Wang; Xiaohui Gu (North Carolina State University); Shan Lu (University of Chicago)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46803">(7) Fragola: Low-Latency Transactions in Distributed Data Stores</a></h4>
<p class="course-meta" style="line-height:18px;">Yonatan Gottesman (Yahoo Research); Aran Bergman (Technion); Edward Bortnikov; Eshcar Hillel (Yahoo Research);Idit Keidar (Yahoo Research, Technion); Ohad Shacham (Yahoo Research)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46804">(8) Lever: Towards Low-Latency Batched Stream Processing by Pre-Scheduling</a></h4>
<p class="course-meta" style="line-height:18px;">Fei Chen; Song Wu; Hai Jin; Yin Yao; Zhiyi Liu; Lin Gu (Huazhong University of Science and Technology);Yongluan Zhou (University of Copenhagen)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46815">(9) Mitigating Multi-Tenant Interference on Mobile Offloading Servers</a></h4>
<p class="course-meta" style="line-height:18px;">Zhou Fang; Mulong Luo (University of California, San Diego); Tong Yu; Ole J. Mengshoel (Carnegie Mellon University); Mani B. Srivastava (University of California, Los Angeles); Rajesh K. Gupta (University of California, San Diego)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46816">(10) SEaMLESS: a SErvice Migration cLoud architecture for Energy Saving and memory releaSing capabilities</a></h4>
<p class="course-meta" style="line-height:18px;">Dino Lopez Pacheco; Quentin Jacquemart (Université Côte d’Azur, CNRS, I3S, France); Andrea Segalini (Università di Bologna, Italy + Université Côte d’Azur, CNRS, I3S, France); Myriana Rifai ((Université Côte d’Azur, CNRS, I3S, France); Marcos Dione (Unaffiliated); Guillaume Urvoy-Keller (Université Côte d’Azur, CNRS, I3S, France)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46817">(11) Siphon: A High-Performance Substrate for Inter-Datacenter Transfers in Wide-Area Data Analytics</a></h4>
<p class="course-meta" style="line-height:18px;">Shuhao Liu; Li Chen; Baochun Li (University of Toronto)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46818">(12) Efficient and Consistent Replication for Distributed Logs</a></h4>
<p class="course-meta" style="line-height:18px;">Hua Fan (University of Waterloo); Jeffrey Pound; Peter Bumbulis; Nathan Auch; Scott MacLean; Eric Garber; Anil K Goel (SAP Labs)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46819">(13) Rethinking Reinforcement Learning for Cloud Elasticity</a></h4>
<p class="course-meta" style="line-height:18px;">Konstantinos Lolos; Ioannis Konstantinou; Verena Kantere; Nectarios Koziris (School of Electrical and Computer Engineering, National Technical University of Athens)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46810">(14) How Good Are Machine Learning Clouds for Binary Classification with Good Features?</a></h4>
<p class="course-meta" style="line-height:18px;">Hantian Zhang; Luyuan Zeng (ETH Zurich); Wentao Wu (Microsoft Research, Redmond); Ce Zhang (ETH Zurich)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46811">(15) Indy: A Software System for the Dense Cloud</a></h4>
<p class="course-meta" style="line-height:18px;">Chenggang Wu (UC Berkeley); Jose M. Faleiro (Yale University); Yihan Lin; Joseph M. Hellerstein (UC Berkeley)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46812">(16) Towards Verifiable Metering for Database as a Service Providers</a></h4>
<p class="course-meta" style="line-height:18px;">Min Du (University of Utah); Ravi Ramamurthy (Microsoft Research)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46813">(17) Janus: Supporting Heterogeneous Power Management in Virtualized Environments</a></h4>
<p class="course-meta" style="line-height:18px;">Daehoon Kim (DGIST); Mohammad Alian (UIUC); Jaehyuk Huh (KAIST); Nam Sung Kim (UIUC)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46814">(18) Stocator: An Object Store Aware Connector for Spark</a></h4>
<p class="course-meta" style="line-height:18px;">Gil Vernik; Michael Factor; Elliot Kolodner (IBM Research); Pietro Michiardi (Eurecom); Effi Ofer (IBM Research); Francesco Pace (Eurecom)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46825">(19) mBalloon: Enabling Elastic Memory Management for Big Data Processing</a></h4>
<p class="course-meta" style="line-height:18px;">Wei Chen; Aidi Pi (University of Colorado at Colorado Springs); Jia Rao (University of Texas Arlington); Xiaobo Zhou (University of Colorado at Colorado Springs)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46827">(20) Sparkle: Optimizing Spark for Large Memory Machines and Analytics</a></h4>
<p class="course-meta" style="line-height:18px;">Mijung Kim (Hewlett Packard Labs); Jun Li (Ebay); Haris Volos; Manish Marwah (Hewlett Packard Labs); Alexander Ulanov (Facebook); Kimberly Keeton (Hewlett Packard Labs); Lucy Cherkasova (HyTrust); Le Xu (University of Illinois); Pradeep Fernando (Georgia Institute of Technology)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46828">(21) Exploring Memory Locality for Big Data Analytics in Virtualized Clusters</a></h4>
<p class="course-meta" style="line-height:18px;">Eunji Hwang; Hyungoo Kim; Beomseok Nam; Young-ri Choi (Ulsan National Institute of Science and Technology)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46829">(22) RStore: Efficient Multiversion Document Management in the Cloud</a></h4>
<p class="course-meta" style="line-height:18px;">Souvik Bhattacherjee; Amol Deshpande (University of Maryland, College Park)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46820">(23) SQML: Large-scale in-database machine learning with pure SQL</a></h4>
<p class="course-meta" style="line-height:18px;">Umar Syed; Sergei Vassilvitskii (Google)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46821">(24) DFS-Container: Achieving Containerized Block I/O for Distributed File Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Dan Huang; Jun Wang (University of Central Florida); Qing Liu (New Jersey Institute of Technology); Xuhong Zhang; Xunchao Chen; Jian Zhou (University of Central Florida)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46822">(25) Early Work on Modeling Computational Sprinting</a></h4>
<p class="course-meta" style="line-height:18px;">Nathaniel Morris; Christopher Stewart (The Ohio State University); Robert Birke; Lydia Chen (IBM Research Zurich); Jaimie Kelley (Denison University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46823">(26) Job Scheduling for Data-Parallel Frameworks with Hybrid Electrical/Optical Datacenter Networks</a></h4>
<p class="course-meta" style="line-height:18px;">Zhuozhao Li; Haiying Shen (University of Virginia)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46826">(27) Prometheus: Online Estimation of Optimal Memory Demands for Workers in In-memory Distributed Computation</a></h4>
<p class="course-meta" style="line-height:18px;">Guoyao Xu (Wayne State University); Cheng-Zhong Xu (Shenzhen Institutes of Advanced Technology)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46858">(28) CapNet: Security and Least Authority in a Capability-Enabled Cloud</a></h4>
<p class="course-meta" style="line-height:18px;"> Anton Burtsev (University of California, Irvine); David Johnson, Josh Kunz, Eric Eide, Jacobus Van der Merwe (University of Utah)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46885">(29) Secure Data Types: A Simple Abstraction for Confidentiality-Preserving Data Analytics</a></h4>
<p class="course-meta" style="line-height:18px;">Savvas Savvides (Purdue University); Julian Stephen (IBM Research); Masoud Saieda Ardekani (Purdue University); Vinaitheerthan Sundaram (SensorHound, Inc); Patrick Eugster (TU Darmstadt)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46879">(30) Practical Whole-System Provenance Capture</a></h4>
<p class="course-meta" style="line-height:18px;">Thomas Pasquier, Xueyuan Han, Mark Goldstein, Margo Seltzer (Harvard University); Thomas Moyer (MIT Lincoln Laboratory); David Eyers (University of Otago); Jean Bacon (University of Cambridge)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46854">(31) STYX: A Trusted and Accelerated Hierarchical SSL Key Management and Distribution System for Cloud Based CDN Application</a></h4>
<p class="course-meta" style="line-height:18px;">Changzhen Wei (Intel Asia-Pacific Research & Development Ltd.); Jian Li (Shanghai Jiao Tong University); Weigang Li, Ping Yu (Intel Asia-Pacific Research & Development Ltd.); Haibing Guan (Shanghai Jiao Tong University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46855">(32) APUS: Fast and Scalable PAXOS on RDMA</a></h4>
<p class="course-meta" style="line-height:18px;">Cheng Wang, Xusheng Chen, Jianyu Jiang, Ning Yi, Heming Cui (The University of Hong Kong)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46881">(33) ALOHA-KV: High Performance Read-only and Write-only Distributed Transactions</a></h4>
<p class="course-meta" style="line-height:18px;">Hua Fan, Wojciech Golab (University of Waterloo); Charles B. Morrey III (unaffiliated)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46889">(34) Sketches of Space: Ownership Accounting for Shared Storage</a></h4>
<p class="course-meta" style="line-height:18px;">Jake Wires, Pradeep Ganesan, Andrew Warfield (Coho Data)
</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46876">(35) Latency Reduction and Load Balancing in Coded Storage Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Yaochen Hu, Yushi Wang, Bang Liu, Di Niu (University of Alberta); Cheng Huang (Microsoft Research Redmond)
</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46884">(36) WorkloadCompactor: Reducing datacenter cost while providing tail latency SLO guarantees</a></h4>
<p class="course-meta" style="line-height:18px;">Timothy Zhu (Carnegie Mellon University); Michael A. Kozuch (Intel Labs); Mor Harchol-Balter (Carnegie Mellon University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46864">(37) BestConfig: Tapping the Performance Potential of Systems via Automatic Configuration Tuning</a></h4>
<p class="course-meta" style="line-height:18px;">Yuqing Zhu, Jianxun Liu, Mengying Guo, Yungang Bao (Institute of Computing Technology, Chinese Academy of Sciences); Kunpeng Song, Zhuoyue Liu (Huawei)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46868">(38) SLO-aware Colocation of Data Center Tasks Based on Instantaneous Resource Requirements</a></h4>
<p class="course-meta" style="line-height:18px;">Pawel Janus, Krzysztof Rzadca (University of Warsaw, Poland)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46742">(39) Incentivizing Self-Capping to Increase Cloud Utilization</a></h4>
<p class="course-meta" style="line-height:18px;">Mohammad Shahrad (Princeton University); Cristian Klein (Umeå University); Liang Zheng, Mung Chiang (Princeton University); Erik Elmroth (Umeå University); David Wentzlaff (Princeton University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46886">(40) HotSpot: Automated Server Hopping in Cloud Spot Markets</a></h4>
<p class="course-meta" style="line-height:18px;">Supreeth Shastri, David Irwin (University of Massachusetts Amherst)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46860">(41) A Policy-Based System for Dynamic Scaling of Virtual Machine Memory Reservations</a></h4>
<p class="course-meta" style="line-height:18px;">Rebecca Smith, Scott Rixner (Rice University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46749">(42) Trustable Virtual Machine Scheduling in a Cloud</a></h4>
<p class="course-meta" style="line-height:18px;">Fabien Hermenier (Nutanix inc.); Ludovic Henrio (Université Côte d’Azur, CNRS, I3S)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46895">(43) Distributed Resource Management across Process Boundaries</a></h4>
<p class="course-meta" style="line-height:18px;">Lalith Suresh (VMWare Research); Peter Bodik, Ishai Menache (Microsoft Research); Marco Canini (KAUST); Florin Ciucu (University of Warwick)
</p>


<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->

<header>
	<h2 style="color:SteelBlue;">Poster session II (Tuesday, September 26th)<br> 
	<font style="color:black;font-size:60%;">Location: Seattle/Portland/Santa Barbara room (<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)</font> 
	</h2>
</header>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46896">(1) Reducing Tail Latencies in Streaming Workloads</a></h4>
<p class="course-meta" style="line-height:18px;">Faria Kalim (University of Illinois, at Urbana Champaign); Asser Tantawi; Stefania Costache (IBM Research)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46897">(2) Daiet: A System for Data Aggregation Inside the Network</a></h4>
<p class="course-meta" style="line-height:18px;">Amedeo Sapio; Ibrahim Abdelaziz; Marco Canini; Panos Kalnis (KAUST)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46898">(3) Resilient Cloud in Dynamic Resource Environments</a></h4>
<p class="course-meta" style="line-height:18px;">Fan Yang; Andrew A. Chien; Haryadi S. Gunawi (University of Chicago)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46899">(4) Disaggregated Operating System</a></h4>
<p class="course-meta" style="line-height:18px;">Yizhou Shan; Sumukh Hallymysore; Yutong Huang; Yilun Chen; Yiying Zhang (Purdue University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46890">(5) To Edge or Not to Edge?</a></h4>
<p class="course-meta" style="line-height:18px;">Faria Kalim; Shadi A. Noghabi; Shiv Verma (University of Illinois, at Urbana Champaign)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46891">(6) Cache Management and Load Balancing for 5G Cloud Radio Access Networks</a></h4>
<p class="course-meta" style="line-height:18px;">Chin Tsai; Melody Moh (San Jose State University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46892">(7) Batch Spot Market for Data Analytics Cloud Providers</a></h4>
<p class="course-meta" style="line-height:18px;">Stefania Costache (IBM Research); Tommaso Madonia (University of Bologna); Asser Tantawi; Malgorzata Steinder (IBM Research)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46893">(8) Building Smart Memories and High-Speed Cloud Services for the Internet of Things with Derecho</a></h4>
<p class="course-meta" style="line-height:18px;">Sagar Jha; Ken Birman (Cornell University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46894">(9) Toward an Emergency Edge Supercloud</a></h4>
<p class="course-meta" style="line-height:18px;">Kolbeinn Karlsson; Zhiming Shen; Weijia Song; Hakim Weatherspoon; Robbert van Renesse; Stephen Wicker (Cornell University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46805">(10) AKC : Advanced KSM for Cloud Computing</a></h4>
<p class="course-meta" style="line-height:18px;">Sioh Lee (Korea University); Bongkyu Kim (LG Electronics); Youngpil Kim; Chuck Yoo (Korea University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46806">(11) KVS: High-Efficiency Kernel-level Virtual Switch</a></h4>
<p class="course-meta" style="line-height:18px;">Heungsik Choi; Gyeongsik Yang; Kyungwoon Lee; Chuck Yoo (Korea University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46740">(12) Search Lookaside Buffer: Efficient Caching for Index Data Structures</a></h4>
<p class="course-meta" style="line-height:18px;">Xingbo Wu, Fan Ni, Song Jiang (University of Texas, Arlington)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46859">(13) LSM-tree Managed Storage for Large-scale Key-value Store</a></h4>
<p class="course-meta" style="line-height:18px;">Fei Mei, Qiang Cao (Huazhong University of Science and Technology), Hong Jiang (University of Texas at Arlington), Lei Tian (Tintri, Inc.)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46880">(14) A Scalable Distributed Spatial Index for the Internet-of-Things</a></h4>
<p class="course-meta" style="line-height:18px;"> Anand Padmanabha Iyer, Ion Stoica (UC Berkeley)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46743">(15) Mithril: mining sporadic associations for cache prefetching</a></h4>
<p class="course-meta" style="line-height:18px;">Juncheng Yang, Reza Karimi (Emory University); Trausti Sæmundsson (CachePhysics); Avani Wildani, Ymir Vigfusson (Emory University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46851">(16) Workload Analysis and Caching Strategies for Search Advertising Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Conglong Li, David G. Andersen (Carnegie Mellon University); Qiang Fu (Microsoft); Sameh Elnikety, Yuxiong He (Microsoft Research)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46887">(17) UNO: Unifying Host and Smart NIC Offload for Flexible Packet Processing</a></h4>
<p class="course-meta" style="line-height:18px;">Yanfang Le (University of Wisconsin-Madison); Hyunseok Chang, Sarit Mukherjee, Limin Wang (Nokia Bell Labs); Aditya Akella, Michael Swift (University of Wisconsin-Madison); T.V. Lakshman (Nokia Bell Labs)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46874">(18) AidOps: A Data-Driven Provisioning of Virtual Network Functions</a></h4>
<p class="course-meta" style="line-height:18px;">Diego Lugones, Jordi Arjona Aroca, Yue Jin, Alessandra Sala, Volker Hilt (Nokia Bell Labs)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46850">(19) HyperNF: Building a High Performance, High Utilization and Fair NFV Platform</a></h4>
<p class="course-meta" style="line-height:18px;">Kenichi Yasukata, Felipe Huici (NEC Laboratories Europe); Vincenzo Maffione, Giuseppe Lettieri (University of Pisa); Michio Honda (NEC Laboratories Europe)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46852">(20) Prism: A Proxy Architecture for Datacenter Networks [VISION]</a></h4>
<p class="course-meta" style="line-height:18px;">Yutaro Hayakawa (Keio University); Lars Eggert (NetApp); Michio Honda (NEC Laboratories Europe); Douglas Santry (NetApp)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46741">(21) Architectural Implications on the Performance and Cost of Graph Analytics Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Qizhen Zhang (University of Pennsylvania); Hongzhi Chen (Chinese University of Hong Kong); Da Yan (University of Alabama at Birmingham); James Cheng (Chinese University of Hong Kong); Boon Thau Loo (University of Pennsylvania); Purushotham Bangalore (University of Alabama at Birmingham)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46865">(22) QFrag: Distributed Graph Search via Subgraph Isomorphism</a></h4>
<p class="course-meta" style="line-height:18px;">Marco Serafini, Gianmarco De Francisci Morales, Georgos Siganos (Qatar Computing Research Institute)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46867">(23) DLSH: A Distribution-aware LSH Scheme for Approximate Nearest Neighbor Query in Cloud Computing</a></h4>
<p class="course-meta" style="line-height:18px;">Yuanyuan Sun, Yu Hua (Huazhong University of Science and Technology); Xue Liu (McGill University); Shunde Cao, Pengfei Zuo (Huazhong University of Science and Technology)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46861">(24) PBSE: A Robust Path-Based Speculative Execution for Degraded-Network Tail Tolerance in Data-Parallel Frameworks</a></h4>
<p class="course-meta" style="line-height:18px;">Riza O. Suminto, Cesar A. Stuardo, Alexandra Clark, Huan Ke, Tanakorn Leesatapornwongsa, Bo Fu (University of Chicago); Daniar H. Kurniawan (Bandung Institute of Technology); Vincentius Martin (Surya University); Uma Maheswara Rao G. (Intel Corporation); Haryadi S. Gunawi (University of Chicago)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46866">(25) A Robust Partitioning Scheme for Ad-Hoc Query Workloads</a></h4>
<p class="course-meta" style="line-height:18px;">Anil Shanbhag (MIT); Alekh Jindal (Microsoft); Sam Madden (MIT); Jorge Quiane (QCRI); Aaron Elmore (University of Chicago)
</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46888">(26) Automated Debugging in Data-Intensive Scalable Computing</a></h4>
<p class="course-meta" style="line-height:18px;">Muhammad Ali Gulzar, Matteo Interlandi (UCLA); Xueyuan Han (Harvard University); Mingda Li, Tyson Condie, Miryung Kim (UCLA)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46872">(27) Occupy the Cloud: Distributed Computing for the 99% [VISION]</a></h4>
<p class="course-meta" style="line-height:18px;">Eric Jonas, Qifan Pu, Shivaram Venkataraman, Ion Stoica, Benjamin Recht (UC Berkeley)
</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46863">(28) Distributed Shared Persistent Memory</a></h4>
<p class="course-meta" style="line-height:18px;">Yizhou Shan, Shin-Yeh Tsai, Yiying Zhang (Purdue University)</p>



<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46744">(29) GLoop: An Event-driven Runtime for Consolidating GPGPU Applications</a></h4>
<p class="course-meta" style="line-height:18px;">Yusuke Suzuki (Keio University); Hiroshi Yamada (TUAT); Shinpei Kato (University of Tokyo); Kenji Kono (Keio University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46857">(30) Remote memory in the age of fast networks [VISION]</a></h4>
<p class="course-meta" style="line-height:18px;">Marcos K. Aguilera, Nadav Amit, Irina Calciu, Xavier Deguillard, Jayneel Gandhi, Pratap Subrahmanyam, Lalith Suresh, Kiran Tati, Rajesh Venkatasubramanian, Michael Wei (VMware)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46869">(31) Preserving I/O Prioritization in Virtualized OSes</a></h4>
<p class="course-meta" style="line-height:18px;">Kun Suo, Yong Zhao, Jia Rao (The University of Texas at Arlington); Luwei Cheng (Facebook); Xiaobo Zhou (The University of Colorado, Colorado Springs); Francis C. M. Lau (The University of Hong Kong)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46870">(32) Processing Java UDFs in a C++ environment</a></h4>
<p class="course-meta" style="line-height:18px;">Viktor Rosenfeld (TU Berlin); Rene Mueller, Pinar Tozun, Fatma Ozcan (IBM Research Almaden)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46871">(33) An Experimental Comparison of Complex Object Implementations for Big Data Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Sourav Sikdar, Kia Teymourian, Christopher Jermaine (Rice University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46882">(34) Analysis of TPC-DS: the First Standard Benchmark for SQL-Based Big Data Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Meikel Poess (Oracle); Tilmann Rabl (TU Berlin); Hans-Arno Jacobsen (TU Munich)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46873">(35) Selecting the Best VM across Multiple Public Clouds: A Data-Driven Performance Modeling Approach</a></h4>
<p class="course-meta" style="line-height:18px;">Neeraja J. Yadwadkar (University of California, Berkeley); Bharath Hariharan (Facebook AI Research); Joseph E. Gonzalez (University of California, Berkeley); Burton Smith (Microsoft Research); Randy Katz (University of California, Berkeley)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46862">(36) Polygravity: Traffic Usage Accountability via Coarse-grained Measurements in Multi-tenant Data Centers</a></h4>
<p class="course-meta" style="line-height:18px;"> Hyunwook Baek (University of Utah); Cheng Jin (University of Minnesota); Guofei Jiang, Cristian Lumezanu (NEC Labs America); Jacobus Van der Merwe (University of Utah); Ning Xia, Qiang Xu (NEC Labs America)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46883">(37) Optimized On-Demand Data Streaming from Sensor Nodes</a></h4>
<p class="course-meta" style="line-height:18px;">Jonas Traub (Technische Universität Berlin); Sebastian Breß (DFKI); Tilmann Rabl (Technische Universität Berlin); Asterios Katsifodimos (SAP Germany); Volker Markl (Technische Universität Berlin)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46856">(38) No Data Left Behind: Real-Time Insights from a Complex Data Ecosystem</a></h4>
<p class="course-meta" style="line-height:18px;">Manos Karpathiotakis (EPFL); Avrilia Floratou (Microsoft); Fatma Ozcan (IBM Research); Anastasia Ailamaki (EPFL)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46853">(39) Towards Automatic Parameter Tuning of Stream Processing Systems</a></h4>
<p class="course-meta" style="line-height:18px;">Muhammad Bilal (Universite catholiqué de Louvain and KAUST); Marco Canini (KAUST)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46748">(40) FSP: Towards Flexible Synchronous Parallel Framework for Expectation-Maximization based Algorithms on Cloud</a></h4>
<p class="course-meta" style="line-height:18px;">Zhigang Wang (Northeastern University); Lixin Gao (University of Massachusetts Amherst); Yu Gu, Yubin Bao, Ge Yu (Northeastern University)</p>


<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46878">(41) SLAQ: Quality-Driven Scheduling for Distributed Machine Learning</a></h4>
<p class="course-meta" style="line-height:18px;">Haoyu Zhang, Logan Stafman, Andrew Or, Michael J. Freedman (Princeton University)</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46875">(42) A Machine Learning Approach to Live Migration Modeling</a></h4>
<p class="course-meta" style="line-height:18px;">Changyeon Jo, Youngsu Cho, Bernhard Egger (Seoul National University)
</p>

<h4 class="talk-title"><a href="https://dl.acm.org/authorize?N46877">(43) On-demand Virtualization for Live Migration in Bare Metal Cloud</a></h4>
<p class="course-meta" style="line-height:18px;">Jaeseong Im, Jongyul Kim, Jonguk Kim (School of Computing, KAIST); Seongwook Jin (KIWIPLUS); Seungryoul Maeng (School of Computing, KAIST)</p>



          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
