---
layout: default
---

{% include slider-pc.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                      <header><h1>Program Committee</h1></header>
                      <section id="program-chairs">
                          <header><h2 class="no-divider">Program chairs</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block.html link="http://www.cs.yale.edu/homes/mahesh/" name="Mahesh Balakrishnan" org="Yale University" %}
                            </div>

                            <div class="col-md-6">
                              {% include author-block.html link="https://www.microsoft.com/en-us/research/people/ccurino/" name="Carlo Curino" org="Microsoft" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->

                    
                          
                        <section id="program-chairs">
                          <header><h2 class="no-divider">Program committee</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              {% include author-block-no-padding.html link="" name="Alex Shraer" org="Apple"%}
                              {% include author-block-no-padding.html link="" name="Alexey Tumanov" org="UC Berkeley" %}
                              {% include author-block-no-padding.html link="" name="Amar Phanishayee" org="Microsoft" %}
                              {% include author-block-no-padding.html link="" name="Amol Deshpande" org="University of Maryland" %}
                              {% include author-block-no-padding.html link="" name="Ashraf Aboulnaga" org="Qatar Computing Research Institute" %}
                              {% include author-block-no-padding.html link="" name="Asim Kadav" org="NEC" %}
                              {% include author-block-no-padding.html link="" name="Avrilia Floratou" org="Microsoft" %}
                              {% include author-block-no-padding.html link="" name="Chris Douglas" org="Microsoft" %}
                              {% include author-block-no-padding.html link="" name="Chris Rossbach" org="UT Austin" %}
                              {% include author-block-no-padding.html link="" name="Cong Xu" org="IBM Research" %}
                              {% include author-block-no-padding.html link="" name="Dan R. K. Ports" org="University of Washington" %}
                              {% include author-block-no-padding.html link="" name="Derek Murray" org="Google" %}
                              {% include author-block-no-padding.html link="" name="Ennan Zhai" org="Yale University" %}
                              {% include author-block-no-padding.html link="" name="Eno Thereska" org="Confluent" %}
                              {% include author-block-no-padding.html link="" name="Garth Gibson" org="CMU" %}
                              {% include author-block-no-padding.html link="" name="Haryadi Gunawi" org="University of Chicago" %}
                              {% include author-block-no-padding.html link="" name="Immanuel Trummer" org="Cornell University" %}
                              {% include author-block-no-padding.html link="" name="Indranil Gupta" org="UIUC" %}
                              {% include author-block-no-padding.html link="" name="Iqbal Mohomed" org="Samsung" %}
                              {% include author-block-no-padding.html link="" name="Irinia Calciu" org="VMware" %}
                              {% include author-block-no-padding.html link="" name="James Mickens" org="Harvard University" %}
                              {% include author-block-no-padding.html link="" name="Ji-Yong Shin" org="Yale University" %}
                            </div>
                            <div class="col-md-6">
                              {% include author-block-no-padding.html link="" name="John Wilkes" org="Google" %}
                              {% include author-block-no-padding.html link="" name="Ken Birman" org="Cornell University" %}
                              {% include author-block-no-padding.html link="" name="Lixin Gao" org="UMass Amherst" %}
                              {% include author-block-no-padding.html link="" name="Matei Zaharia" org="Stanford University" %}
                              {% include author-block-no-padding.html link="" name="Morley Z. Mao" org="University of Michigan" %}
                              {% include author-block-no-padding.html link="" name="Nathan Bronson" org="Facebook" %}
                              {% include author-block-no-padding.html link="" name="Oliver Kennedy" org="SUNY Buffalo" %}
                              {% include author-block-no-padding.html link="" name="Patrick Steudi" org="IBM" %}
                              {% include author-block-no-padding.html link="" name="Peter Alvaro" org="UC Santa Cruz" %}
                              {% include author-block-no-padding.html link="" name="Peter Pietzuch" org="Imperial College London" %}
                              {% include author-block-no-padding.html link="" name="Phil Bernstein" org="Microsoft" %}
                              {% include author-block-no-padding.html link="" name="Pinar Tozun" org="IBM" %}
                              {% include author-block-no-padding.html name="Rama Ramasubramanian" org="Google" %}
                              {% include author-block-no-padding.html link="" name="Russell Sears" org="Pure Storage" %}
                              {% include author-block-no-padding.html link="" name="Siddhartha Sen" org="Microsoft" %}
                              {% include author-block-no-padding.html name="Srikanth Kandula" org="Microsoft" %}
                              {% include author-block-no-padding.html link="" name="Theo Benson" org="Duke University" %}
                              {% include author-block-no-padding.html name="Vijay Chidambaram" org="UT Austin" %}
                              {% include author-block-no-padding.html link="" name="Vijayan Prabhakaran" org="Amazon" %}
                              {% include author-block-no-padding.html link="" name="Walfredo Cirne" org="Google" %}
                              {% include author-block-no-padding.html link="" name="Yiying Zhang" org="Purdue University" %}
                              {% include author-block-no-padding.html link="" name="Ymir Vigfusson" org="Emory University" %}
                            </div>
                          </div> <!-- end row -->
                        </section><!-- /#program-chairs -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
              {% include latest-news.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
