---
layout: default
---

{% include slider-registration.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">Aug</div>
                <div class="day">23</div>
              </figure>
              <aside>
                <header>
                  Early registration deadline
                </header>
              </aside>
            </article>
			<br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">Sept</div>
                <div class="day">20</div>
              </figure>
              <aside>
                <header>
                  Late registration deadline
                </header>
              </aside>
            </article>
          </div>
        </section><!-- /.events-small -->

       <br/>
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Registration</h1>
          </header>
          <div class="section-content">
          
          <article>
              <h3>Fees</h3>
              <p>
                Registration fees for SoCC 2017 are shown below. Note that the early registration ends on <b style="color:red;">August 23rd</b>
                and late registration ends on <b style="color:red;">September 20th</b>.
              </p>

              <div class="table-responsive">
		    <table class="table table-hover course-list-table">
			<thead>
			<tr>
			    <th>Type</th>
			    <th>Early registration</th>
			    <th>Late registration</th>
			    <th>Onsite</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			    <th>ACM/SIG Students</th>
			    <th>$ 400</th>
			    <th>$ 450</th>
			    <th>$ 550</th>
			</tr>
			<tr>
			    <th>ACM/SIG Members</th>
			    <th>$ 740</th>
			    <th>$ 850</th>
			    <th>$ 1,000</th>
			</tr>
			<tr>
			    <th>Non-ACM/SIG Members</th>
			    <th>$ 925</th>
			    <th>$ 1,075</th>
			    <th>$ 1,200</th>
			</tr>
			</tbody>
		    </table>
			
			<p>Attendees can purchase extra banquet tickets at $80.00 each.</p>
		</div>

             </article>
          
				<h3>Registration website</h3>
				<p style="color:red;"> The registration website will be available soon!</p>

              <h3>Student scholarships</h3>
              <p>
                SoCC 2017, through generous donations from conference sponsors, will offer scholarships to assist students attending the conference. Visit the
                <a href="scholarships.html" style="text-decoration:underline;">student scholarship page</a> for more information about how to apply.
              </p>
			  
			  <h3>Visa support letters</h3>
              <p>
                If you need help obtaining a visa, you can find more information in the
                <a href="visa.html" style="text-decoration:underline;">visa support letters page</a>.
              </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
