---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Schedule</h2>
		<h4>All conference technical sessions and keynotes will take place in Salon A-C of the Grand Ballroom.</h4>
		<br>
		<h4>Conference papers can be downloaded as PDFs from <a href="assets/socc17-finalpapers" style="color:red;text-decoration:underline;">here</a></h4>
		
        {% include session.html date="Sunday, September 24th" key="day0" showlinks="false" %}
        {% include session.html date="Monday, September 25th" key="day1" showlinks="true" %}
        {% include session.html date="Tuesday, September 26th" key="day2" showlinks="true" %}
        {% include session.html date="Wednesday, September 27th" key="day3" showlinks="true" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
