---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Schedule</h2>
        <p>TBD</p>
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
