---
layout: default
---

{% include slider-scholarships.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">15</div>
              </figure>
              <aside>
                <header>
                  Submission deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">aug</div>
                <div class="day">22</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article>
			<br>
          </div>
        </section>


        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#student">Student</a></h4></li>
              <li><h4><a href="#advisor">Advisor</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Student scholarships</h1>
          </header>
          <div class="section-content">

          <p> The goal of the student scholarships is to increase student attendance, while attracting the best
          and the brightest students in the area of cloud computing. Generous donations from our sponsors enable us to
          offer scholarships to assist students attending the conference.</p>

	  <p> Each student scholarship covers registration and partial travel expenses. To cover the rest of the costs
	  of attending SoCC, applicants must show the availability of additional support from their institutions
	  (e.g., support from advisors). This must be stated in the form to be submitted by the student's advisor (more below).
	  </p>

	  <p>Applicants are also encouraged to participate in the poster session and work-in-progress presentations.</p>

    <p>Funding is available to students from any educational institution in the
    world. The subset of recipients for whom the scholarship will be paid using
    the U.S. National Science Foundation grant must be from U.S. institutions
    and must abide by Fly America rules; i.e., on US-flagged carriers.</p>

	  <p style="color:red;">Submission deadline: August 15
	  <br> Acceptance notification: August 22 <br></p>

            <a id="howtoapply"><h2>How to apply</h2></a>

            <a id="student"><h3>Students</h3></a>
            <p>
               Submit the following information (in PDF attachments) in one email to <a href="mailto:scholarships@socc2017.org">scholarships@socc2017.org</a>.
               The email subject must have the format: Firstname Lastname (institution domain name in lower case). For example, John Doe (uchicago.edu).
               The email doesn't need to have any body content, but it must have 2 PDF attachments, containing:
            </p>

            <p>
              <ul>
                <li><p>
                A <b>1-page</b> position statement to explain the expected benefit of attending the conference, describe any research that you have done,
                and list any published papers. This statement should be no longer than one page, and should be attached in PDF
                with <b><u>filename format inst-first-last-statement.pdf</u></b> (where inst = institution domain name, first = first name, last = last name, all in lower case).
                For example, <b><u>uchicago-john-doe-statement.pdf</u></b>.
                <br>If you are a student presenter or author, please say so.</p>
                </li>
                <li><p>
                <b>Your CV</b> in PDF with filename format <b><u>inst-first-last-cv.pdf</u></b> (e.g., uchicago-john-doe-cv.pdf).
                </p>
                </li>
              </ul>
            </p>
            <p>Be sure to have your advisor fill out the form below.</p>
            <p>If you have any questions, please email <a href="mailto:scholarship-chairs@socc2017.org">scholarship-chairs@socc2017.org</a>.</p>

            <a id="advisor"><h3>Advisor</h3></a>
            <p> Please fill out this <a
              href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRzWhDf-JZcFBjZUbcR3wOH5UNjZRSERUVkFLMU4wMFREWU9NWU9PMDkwUS4u">form</a>.
            </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
