<section class="news-small" id="news-small">
  <!--<header>
    <h2>Latest news</h2>
  </header>
  <div class="section-content">
    <a class="twitter-timeline" href="https://twitter.com/ACMSoCC2016" data-widget-id="712140972553973761">Tweets by @ACMSoCC2016</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>/.section-content -->
</section><!-- /.news-small -->
