<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="row">
            <div class="image-carousel">
              <div class="slide">
                <div class="image-carousel-slide"><img src="assets/img/santa_clara_convention.jpg" alt=""></div>
              </div><!-- /.slide -->
            </div><!-- /.image-carousel -->
          </div><!-- /.row -->
        </div><!-- /.col-md-9 -->
        <div class="col-md-3 col-sm-12">
          <header>
            <h2>ACM Symposium on Cloud Computing 2017</h2>
            <h3 style="color:white">Santa Clara, California</h3>
            <h3 style="color:white">September 25-27, 2017</h3>
          </header>
        </div><!-- /.col-md-3 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
