<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
    <ul class="topics-list">
    <li>Administration and Manageability</li>
    <li>Application, Analytics, Database as a Service</li>
	<li>Cross Datacenter Data management</li>
    <li>Data Services Architectures</li>
    <li>Data Markets</li>
    <li>Distributed and Parallel Query Processing</li>
    <li>Distributed Systems</li>
    <li>Energy Efficiency and Management</li>
    <li>Fault Tolerance, High Availability, and Reliability</li>
    <li>IoT Infrastructure</li>
    <li>Large Scale Cloud Applications</li>
    <li>Multi-Tenancy</li>
    <li>Networking and SDNs</li>
    </ul>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
    <ul class="topics-list">  
    <li>Platform for Services</li>
    <li>Privacy of Data and Computation</li>
    <li>Programming Models</li>
    <li>Provisioning and Metering</li>
    <li>Query Optimization</li>
    <li>Resource Management</li>
    <li>Scientific Data Management</li>
    <li>Security of Infrastructure and Services</li>
    <li>Service Level Agreements</li>
    <li>Storage Systems and New Technologies</li>
    <li>Transactional Models</li>
    <li>Virtualization, Containers, VMs</li>
    </ul>
  </div>
</div>
